@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */

.display-flex {
    display: flex;
}

.text-primary {
    color: #FF900E;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
}

/* shred style ends */

/* header style */
header {
    width: 100%;
    height: 1322px;
}


/* nav style */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1200px;
    margin: 0 auto;
}

/* banner style */
.banner-content {
    max-width: 730px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 3rem;
    font-weight: 700;
}

.banner-image {
    width: 100%;
}

/* team features related style */
.teams {
    align-items: center;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-features {
    margin-left: 50px;
    max-width: 500px;
}

#quick-list {
    font-weight: 500;
}

.feature-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

/* feature section style */
.features{
    gap: 50px;
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
    margin-bottom: 20px;
}

.feature-card, .feature-title {
    font-weight: 600;
    font-size: 1rem;
}

.feature-title{
    margin-top: 0px;
    margin-bottom: 0px;
}

.experience-year{
    font-size: 3rem;
}

/* some facts related style */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    margin: 0 auto;
}

.fact-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1rem;
    font-weight: 600;
    margin: 5px auto 10px auto;
}

.fact-description {
    max-width: 540px;
}


/* sponsor section style */
.sponsor-info {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 45px;
}

.sponsor-companies img {
    filter: grayscale(100%);
}

/* responsive media query */

@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .btn-primary {
        padding: 15px 20px;
        font-size: 1rem;
    }

    .team-image-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: 1fr;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .sponsor-companies {
        justify-items: center;
        gap: 50px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {

    .btn-primary {
        padding: 15px 20px;
        font-size: 1rem;
    }

    .teams {
        flex-direction: column;
    }

    .our-features {
        padding: 50px auto;
    }

    .sponsor-companies,
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}